.home {
    width: 100%;
    margin: 84px 0px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home header div {
    display: flex;
    align-items: center;
}

.home header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 7px;
}

.home input {
    width: 50%;

    padding: 1rem;
    margin: 0.5rem;

    background-color: #e6e6e6;

    border: none;
    border-radius: 7px;
}

.home button {
    width: 50%;

    padding: 1rem;
    margin-bottom: 2rem;

    background-color: #ea4c89;
    color: #ffffff;

    border: none;
    border-radius: 7px;

    cursor: pointer;
    transform: filter 0.2s;
}

.home button:hover {
    filter: brightness(0.9)
}