.card {
    width: 50%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;
    padding: 10px 10px;

    background-color: #735bf2;
    color: #ffffff;

    border-radius: 10px;
}

.card strong {
    font-size: 18px;
}